{% extends 'base.html.twig' %}

{% block title %} List sent messages {% endblock %}

{% block body %}
    <ul>
        {% for sent_message in sent_messages %}
            <li>
                <p> Topic: {{ sent_message.topic }} </p>
                <p> Text: {{ sent_message.text }} </p>
                <p> Recipient: {{ sent_message.recipient.name }} {{ sent_message.recipient.surname }} </p>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('user_profile') }}">Back</a></p>
{% endblock %}
