{% extends 'base.html.twig' %}

{% block title %} Profile {% endblock %}

{% block body %}
    <p align="right"><a href="{{ path('app_logout') }}">Logout</a></p>
    <p> Surname: {{ user.surname }} </p>
    <p> Name: {{ user.name }} </p>
    <p> Patronymic: {{ user.patronymic }} </p>
    <p> Email: {{ user.email }} </p>

    <p><a href="{{ path('sent_messages_list') }}">Show sent messages</a></p>
    <p><a href="{{ path('received_messages_list') }}">Show received messages</a></p>
    <p><a href="{{ path('message_create') }}">Write a message</a></p>

{% endblock %}
